@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;700&display=swap%27');

*, *::before, *::after{
	box-sizing: border-box;
}
/* removing default styles*/
h1, h2, h3, p, ul {
	margin:0;
	padding:0;
}
body{
	margin: 0;
	font-family: 'Signika', sans-serif;
}

/* Header */
.head__driehoek {
	border-bottom: 50px solid #de0000;
	border-left: 0px solid transparent;
	border-right: 1250px solid transparent;
	height: 0;
	width: 100%;
}
.head__vierkant {
	width: 100%;
	height: 90px;
	background-color: #de0000;
	text-align: center;
}
.navbalk {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}
.navbalk ul {
	text-decoration: none;
	display: flex;
	gap: 15px;
	align-items: center;
	flex-wrap: nowrap;
}
.navbalk li {
	list-style: none;
}
.navbalk a {
	color: grey;
	text-decoration: none;
	position: relative;
	padding: 7px 15px;
	border-radius: 3px;
}

.navbalk a:hover {
	background-image:url("images/select1.png");
	background-size: cover;
	color: white;
}

.container {
  	max-width: 1680px;
	width: 100%;
	margin:0 auto;
	padding:0 10%;
}
.center{
	color: white;
	font: inherit;
	margin: auto;
	width: 50%;
}
.logo{
	max-width:200px;
	width: 100%;
}
/* Footer */
.footer__driehoek {
	border-bottom: 50px solid #003581;
	border-left: 0px solid transparent;
	border-right: 1250px solid transparent;
	transform: rotate(180deg);
	height: 0;
	width: 100%;
}
.footer__vierkant {
	width: 100%;
	text-align: center;
	background-color:#003581; 
	height: 180px;
}
#background{
	margin: 0;
	background-image: url("images/bg-left.png"), url("images/bg-right.png");
}
.container2 {
  display: grid;
}

.left-half {
	position: relative;
}
.left-half::before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;

	background-image: url("images/bg-left.png");
	background-size: 100% 100%;
	grid-column: 1;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  
}
.right-half {
  position: relative;
}
.right-half::before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;

  background-image: url("images/bg-right.png");
  background-size: 100% 100%;
  grid-column: 2;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  transform: rotate(180deg);
  
}
/*link with */
a:hover{
  color: #de0000;
  text-decoration: none;
}
a:hover img{
  transform: scale(1.3);
  transition: all 300ms ease;
}