#wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    position: relative;
    /*margin: 0 auto 0 -2em;*/
    transition: width 0.5s ease-in-out;
    /*min-height: 100vh;*/
    font-family: monospace;
    max-width: 60vw;
    margin-left: 4vw;
}

.sidebar-open #wrapper {
    /*width: 78em;*/
    width: 50em;
}

#main-col {
    flex: 0 1 70vw;
}

#side-col {
    /*max-width: 0;*/
    transition: max-width 0.5s ease-in-out;
    flex: 0 1 30vw;
    /*display: hidden;*/
}

.sidebar-open #side-col {
    max-width: 30%;
}

#side-col > div {
    padding: 1em;
    padding-right: 4em;
    white-space: nowrap;
}

#button-col {
    position: relative;
    width: 0;
    z-index: 50;
    flex: 0 1 0;
}

#button-toggle-sidebar {
    position: absolute;
    right: 0;
    width: 2em;
    height: 3em;
    margin-top: -1.5em;
    background: #66d8ff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNNy4zMyAyNGwtMi44My0yLjgyOSA5LjMzOS05LjE3NS05LjMzOS05LjE2NyAyLjgzLTIuODI5IDEyLjE3IDExLjk5NnoiLz48L3N2Zz4=) center center no-repeat;
    background-size: 1.5em;
    color: white;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.sidebar-open #button-toggle-sidebar {
    transform: scaleX(-1);
}

.config-start #button-reset {
    transform: scale(1);
    opacity: 1;
    pointer-events: inherit;
}

#from,
#to {
    font-family: inherit;
    font-size: 1.2em;
    max-width: 100%;
    margin-top: -0.25em;
    margin-bottom: 0.25em;
}

#myearth::after {
    content: "";
    position: absolute;
    top: 11.9%;
    left: 11.9%;
    right: 11.9%;
    bottom: 11.9%;
    border-radius: 50%;
    background-color: #66d8ff;
}
.earth-container {
    z-index: 0 !important;
}
#tip-layer {
    content: "";
    position: absolute;
    top: 60%;
    left: 40%;
    right: 40%;
    bottom: 20%;
    border-radius: 50%;
    background-color: RGBA(0, 0, 0, 0.6);
    color: white;
    user-select: none;
    pointer-events: none;
    z-index: 5000;
    transition: opacity 0.25s ease;
    opacity: 0;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

#tip-big {
    font-size: 3em;
    letter-spacing: 0.05em;
}


@media (max-width: 999px) {
    #wrapper {
        display: block;
    }

    #wrapper,
    #side-col {
        width: auto !important;
        max-width: 100% !important;
    }

    #side-col > div {
        padding-top: 0;
        padding-right: 1em;
        margin-top: -1em;
        text-align: center;
    }

    #button-col {
        display: none;
    }

    #tip-layer > div {
        font-size: 2vw;
    }

}

@media (max-width: 719px) {
    #button-reset {
        width: 12%;
        height: 12%;
    }

    #side-col > div {
        font-size: 0.8em;
    }
}


#back-link {
    position: fixed;
    top: 0;
    left: 0;
    background: #0d130e;
    padding: 0.5em;
    font-size: 26px;
    z-index: 10000;
    border-right: 1px RGBA(255, 255, 255, 0.5) solid;
    border-bottom: 1px RGBA(255, 255, 255, 0.5) solid;
}

#back-link img {
    display: block;
    width: 4em;
    height: auto;
}

@media (max-width: 1199px) {
    #back-link {
        font-size: 20px;
    }
}

@media (max-width: 511px) {
    #back-link {
        font-size: 16px;
    }
}

#legal-footer-wrap {
    position: relative;
    height: 0;
    z-index: 10002;
    font-family: Arial, sans-serif;
}

#legal-footer {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

#legal-footer a {
    text-decoration: none;
    color: inherit;
    padding: 0 0.5em;
    font-size: 10px;
}

.hidden {
    width: 0;
    height: 0;
}

iframe {
    width: 250%;
    max-width: 70vw;
    height: 60vh;

    /*margin-top: -10vh;*/
}
